Repository linear/linear-release: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

output:
  - summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,json,md,yml,yaml}"
      run: pnpm exec oxfmt --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.ts"
      run: pnpm exec oxlint --fix {staged_files}
      stage_fixed: true

    build:
      run: pnpm build

Changed levels and cleanup
  src/git.ts
  src/index.ts
Due: format, lint

Remove debug option
  README.md
  src/args.test.ts
  src/args.ts
  src/extractors.ts
  src/git.ts
  src/index.ts
  src/log.ts
  src/scan.ts
Due: format, lint

Add log levels (#22)
  README.md
  src/args.test.ts
  src/args.ts
  src/extractors.ts
  src/git.ts
  src/index.ts
  src/log.ts
  src/retry.ts
  src/scan.ts
Due: format, lint

Tweak README
  README.md
Due: format

Address feedback
  README.md
Due: format

Add code signing to release action
  .github/workflows/release.yml
  entitlements.mac.plist
Due: format

Add comment
  entitlements.mac.plist
Due: none

Update README.md
  README.md
Due: format

Make auto recovery more resilient for shallow clones
  src/git.test.ts
  src/git.ts
  src/index.ts
Due: format, lint

Run oxlint
  README.md
Due: format

Parse branch names from Gitlab merge commits
  src/git.test.ts
  src/git.ts
Due: format, lint

Bump package.json to 0.6.2
  package.json
Due: format

Bump package.json to 0.6.2 (#28)
  package.json
Due: format

Document --timeout CLI flag in README
  README.md
Due: format

Document --timeout CLI flag in README (#29)
  README.md
Due: format

Add release script to handle releases automatically
  .github/workflows/auto-tag-release.yml
  package.json
  scripts/release.sh
Due: format

Support Bitbucket merge format
  src/git.test.ts
  src/git.ts
Due: format, lint

Support Bitbucket merge format (#31)
  src/git.test.ts
  src/git.ts
Due: format, lint

Bump package.json to 0.6.3
  package.json
Due: format

Bump package.json to 0.6.3 (#32)
  package.json
Due: format

Dispatch release workflow directly from auto-tag one
  .github/workflows/auto-tag-release.yml
Due: format

Dispatch release workflow directly from auto-tag one (#33)
  .github/workflows/auto-tag-release.yml
Due: format

Bump package.json to 0.6.4
  package.json
Due: format

Add "implement(s)" as closing keyword
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Add "implement(s)" as closing keyword (#35)
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Fix shallow clone deepening hanging in CI
  src/git.ts
Due: format, lint

Log error
  src/git.ts
Due: format, lint

Add nudge about updating action too
  scripts/release.sh
Due: none

Add release instructions
  RELEASING.md
Due: format

Remove unnecessary GH_TOKEN from CLI download steps
  .github/workflows/run-linear-release.yml
Due: format

Add nudge about updating action too (#37)
  scripts/release.sh
Due: none

Mention github action
  RELEASING.md
Due: format

Bump package.json to 0.7.0
  package.json
Due: format

Build executable for linux arm64
  .github/workflows/release.yml
Due: format

Update release workflow to trigger on PR changes
  .github/workflows/release.yml
Due: format

Reorganize examples into folders with READMEs
  examples/circleci-continuous/README.md
  examples/circleci-continuous/config.yml
  examples/circleci-scheduled/README.md
  examples/circleci-scheduled/config.yml
  examples/github-actions-continuous/README.md
  examples/github-actions-continuous/linear-release.yml
  examples/github-actions-scheduled/README.md
  examples/github-actions-scheduled/linear-release.yml
  examples/gitlab-ci-continuous/.gitlab-ci.yml
  examples/gitlab-ci-continuous/README.md
  examples/gitlab-ci-scheduled/.gitlab-ci.yml
  examples/gitlab-ci-scheduled/README.md
  skills/linear-release-setup/SKILL.md
Due: format

Fix inaccurate customization guidance in READMEs
  examples/github-actions-scheduled/README.md
  examples/gitlab-ci-continuous/README.md
Due: format

Rework docs
  examples/circleci-continuous/circleci-continuous.yml
  examples/circleci-scheduled/README.md
  examples/circleci-scheduled/circleci-scheduled.yml
  examples/github-actions-continuous/github-actions-continuous.yml
  examples/github-actions-scheduled/gihub-actions-scheduled.yml
  examples/gitlab-ci-continuous/gitlab-ci-continuous.yml
  examples/gitlab-ci-scheduled/gitlab-ci-scheduled.yml
Due: format

Rename example files to platform conventions
  examples/circleci-continuous/config.yml
  examples/circleci-scheduled/config.yml
  examples/github-actions-continuous/linear-release.yml
  examples/github-actions-scheduled/linear-release.yml
  examples/gitlab-ci-continuous/.gitlab-ci.yml
  examples/gitlab-ci-scheduled/.gitlab-ci.yml
Due: format

Improve skill in regards to stages vs pipelines
  skills/linear-release-setup/SKILL.md
Due: format
