Repository linear/linear-release: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

output:
  - summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,json,md,yml,yaml}"
      run: pnpm exec oxfmt --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.ts"
      run: pnpm exec oxlint --fix {staged_files}
      stage_fixed: true

    build:
      run: pnpm build

Ensure merges are properly handled for detection of issues & PRs (#62)
  src/git.test.ts
  src/git.ts
  src/index.ts
Due: format, lint

Add findBaseSha walk with scenario tests
  src/base-sha.test.ts
  src/base-sha.ts
Due: format, lint

Add isAncestor helper
  src/git.test.ts
  src/git.ts
Due: format, lint

Walk recent releases to pick base SHA on sync
  src/index.ts
  src/types.ts
Due: format, lint

Correctly set base sha when multiple releases are in progress (#63)
  src/base-sha.test.ts
  src/base-sha.ts
  src/git.test.ts
  src/git.ts
  src/index.ts
  src/types.ts
Due: format, lint

Pass name and version when completing release
  .github/workflows/release.yml
  .github/workflows/run-linear-release.yml
Due: format

Pass name and version when completing release (#64)
  .github/workflows/release.yml
  .github/workflows/run-linear-release.yml
Due: format

Bump package.json to 0.10.0
  package.json
Due: format

Bump package.json to 0.10.0 (#65)
  package.json
Due: format

Fix release CI script + improve documentation
  .github/workflows/release.yml
  .github/workflows/run-linear-release.yml
  README.md
Due: format

Fix release CI script + improve documentation (#66)
  .github/workflows/release.yml
  .github/workflows/run-linear-release.yml
  README.md
Due: format

Fix needs in .github/workflows/release.yml
  .github/workflows/release.yml
Due: format

Various improvements to logs
  README.md
  src/base-sha.ts
  src/git.ts
  src/index.ts
  src/log.ts
Due: format, lint

Various improvements to logs (#68)
  README.md
  src/base-sha.ts
  src/git.ts
  src/index.ts
  src/log.ts
Due: format, lint

Set up Zizmor
  .github/workflows/auto-tag-release.yml
  .github/workflows/release.yml
  .github/workflows/run-linear-release.yml
  .github/workflows/test.yml
  .github/workflows/zizmor.yml
Due: format

Set up Zizmor (#70)
  .github/workflows/auto-tag-release.yml
  .github/workflows/release.yml
  .github/workflows/run-linear-release.yml
  .github/workflows/test.yml
  .github/workflows/zizmor.yml
Due: format

Wire --commit-prefix-pattern options through CLI
  README.md
  src/args.test.ts
  src/args.ts
  src/extractors.test.ts
  src/extractors.ts
  src/index.ts
  src/scan.test.ts
  src/scan.ts
Due: format, lint

Parse MR number properly for Gitlab
  README.md
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Parse MR number properly for Gitlab (#72)
  README.md
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Rename --commit-prefix-pattern to --issue-id-pattern
  README.md
  src/args.test.ts
  src/args.ts
  src/extractors.test.ts
  src/extractors.ts
  src/index.ts
  src/scan.test.ts
Due: format, lint

Add CODEOWNERS for branch protection [LIN-70430]
  .github/CODEOWNERS
Due: none

Update extractor to extract issues from custom messages in revert commits
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Update comments
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Address feedback
  src/extractors.test.ts
  src/extractors.ts
  src/scan.test.ts
Due: format, lint

Update
  src/scan.test.ts
Due: format, lint

Extract added issues from the body of a revert commit (#73)
  src/extractors.test.ts
  src/extractors.ts
  src/scan.test.ts
Due: format, lint

Add 'test' section to README
  README.md
Due: format

Update README
  README.md
Due: format

Address feedback
  README.md
Due: format

Update README (#77)
  README.md
Due: format

Update README.md
  README.md
Due: format

Update README.md (#78)
  README.md
Due: format

Bump package.json to 0.11.0
  package.json
Due: format

Bump package.json to 0.11.0 (#79)
  package.json
Due: format

Verify ancestor walkability on shallow clones in findBaseSha
  src/base-sha.test.ts
  src/base-sha.ts
  src/git.ts
  src/index.ts
Due: format, lint

Verify ancestor walkability on shallow clones in findBaseSha (#80)
  src/base-sha.test.ts
  src/base-sha.ts
  src/git.ts
  src/index.ts
Due: format, lint

Add support for matching issues identifiers in brackets
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Update tests
  src/extractors.test.ts
Due: format, lint

Broaden support to more patterns
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Add broader for matching issues identifiers (#81)
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint
