Repository linear/linear-release: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

output:
  - summary
  - success
  - failure

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,json,md,yml,yaml}"
      run: pnpm exec oxfmt --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.ts"
      run: pnpm exec oxlint --fix {staged_files}
      stage_fixed: true

    build:
      run: pnpm build

Use README as ref
  skills/linear-release-setup/SKILL.md
Due: format

Remove public beta CTA from README
  README.md
Due: format

Update README
  README.md
Due: format

Update README (#46)
  README.md
Due: format

Update README (#47)
  README.md
Due: format

Recognize *.ghe.com hosts as GitHub Enterprise Cloud
  src/git.test.ts
  src/git.ts
Due: format, lint

Add Bitbucket provider support
  src/git.test.ts
  src/git.ts
Due: format, lint

Filter PR numbers exceeding GraphQL Int32 bound
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Filter PR numbers exceeding GraphQL Int32 bound (#51)
  src/extractors.test.ts
  src/extractors.ts
Due: format, lint

Bump package.json to 0.7.1
  package.json
Due: format

Bump package.json to 0.7.1 (#52)
  package.json
Due: format

Document that sync --name updates existing release names
  README.md
Due: format

Document that sync --name updates existing release names (#54)
  README.md
Due: format

Allow --name on complete command
  README.md
  src/args.test.ts
  src/args.ts
  src/index.ts
Due: format, lint

Allow --name on update command
  README.md
  src/args.test.ts
  src/args.ts
  src/index.ts
Due: format, lint

Allow --name on complete & update commands (#49)
  README.md
  src/args.test.ts
  src/args.ts
  src/index.ts
Due: format, lint

Bump package.json to 0.8.0
  package.json
Due: format

Bump package.json to 0.8.0 (#55)
  package.json
Due: format

Add Linux ARM64 build target (#41)
  .github/workflows/release.yml
Due: format

Recognize *.ghe.com hosts as GitHub Enterprise Cloud (#48)
  src/git.test.ts
  src/git.ts
Due: format, lint

Add Bitbucket provider support (#50)
  src/git.test.ts
  src/git.ts
Due: format, lint

Bump package.json to 0.9.0
  package.json
Due: format

Ensure git is available
  src/git.test.ts
  src/git.ts
  src/index.ts
Due: format, lint

Update error message to not assume CI
  src/git.ts
Due: format, lint

Ensure git is available (#57)
  src/git.test.ts
  src/git.ts
  src/index.ts
Due: format, lint

Docs + skills improvements
  README.md
  examples/gitlab-ci-continuous/.gitlab-ci.yml
  examples/gitlab-ci-scheduled/.gitlab-ci.yml
  skills/linear-release-setup/SKILL.md
Due: format

Docs + skills improvements (#58)
  README.md
  examples/gitlab-ci-continuous/.gitlab-ci.yml
  examples/gitlab-ci-scheduled/.gitlab-ci.yml
  skills/linear-release-setup/SKILL.md
Due: format

Bump package.json to 0.9.0 (#56)
  package.json
Due: format

Use new release script for action when releasing
  scripts/release.sh
Due: none

Use new release script for action when releasing (#59)
  scripts/release.sh
Due: none

More docs clarification
  README.md
  skills/linear-release-setup/SKILL.md
Due: format

Reword continuous-vs-scheduled test for clarity
  skills/linear-release-setup/SKILL.md
Due: format

More docs clarification (#60)
  README.md
  skills/linear-release-setup/SKILL.md
Due: format

Improve squash parsing to avoid linking issues/PRs that were already shipped
  src/extractors.test.ts
  src/extractors.ts
  src/git.test.ts
  src/git.ts
Due: format, lint

Add multiline body test
  src/git.test.ts
Due: format, lint

Improve squash parsing to avoid linking issues/PRs that were already shipped (#61)
  src/extractors.test.ts
  src/extractors.ts
  src/git.test.ts
  src/git.ts
Due: format, lint

Ensure merges are properly handled for detection of issues & PRs
  src/git.test.ts
  src/git.ts
  src/index.ts
Due: format, lint

Better comments
  src/git.test.ts
  src/git.ts
  src/index.ts
Due: format, lint

More targeted test
  src/git.test.ts
  src/git.ts
  src/index.ts
Due: format, lint
